/* Implement Browser Default Margin And Padding to Zero  */
* {
  margin: 0px;
  padding: 0px;
}

/* Specify Default Font-Family Here */
body {
  font-family: "Work Sans", sans-serif;
}

/* Top Banner Section Styles  */
.top-banner {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.banner-content-container {
  text-align: right;
  padding-top: 250px;
  padding-right: 230px;
}

.banner-title {
  color: #151414;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}

.banner-description {
  color: #444343;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}

.btn-contact-us {
  padding: 20px 25px;
  color: #fff;
  border-radius: 5px;
  background: #f15b22;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

/* Failure Section Styles */
.failure-section-container {
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: space-evenly;
  margin: 140px 320px 130px 225px;
}

.failure-section-left {
  width: 100%;
}

.person-image {
  width: 100%;
}

.failure-section-right {
  width: 100%;
  margin-top: 200px;
}

.failure-section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}

.failure-section-description {
  width: 410px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}

.option-check {
  display: flex;
  align-items: center;
  gap: 20px 10px;
}

.option-check img {
  width: 24px;
  height: 24px;
}

.option-check-text {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}

/* My Plan Section Styles */
.plans-section-container {
  text-align: center;
  margin-bottom: 130px;
}

.plains-section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.plans-container {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.plan-container img {
  width: 92.958px;
  height: 92.958px;
  margin-bottom: 20px;
}

.plan-title {
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}

.plan-description {
  color: #737272;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

/* Positive Mindset Banner Section Styles */
.positive-mindset-banner {
  background-image: url("../images/gradient2.png"), url("../images/watch.png");
  background-repeat: no-repeat;
  width: 1140px;
  height: 300px;
  margin: auto;
}

.positive-mindset-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  padding: 60px 0px 0px 65px;
  margin-bottom: 24px;
}

.call-now {
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  margin-left: 65px;
  color: #f15b22;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
